In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('data/points_data_ipl_2018-05-02.csv')
df['totalPoints'] = df['battingPoints'] + df['bowlingPoints'] + df['fieldingPoints']

In [16]:
groupby_player_team = df.groupby('playerTeam')
groupby_player_name = df.groupby('playerName')
groupby_match_desc = df.groupby('matchDesc')

### Total matches played till now

In [17]:
matches_played = groupby_player_team.matchId.unique().apply(lambda x: len(x))
matches_played

playerTeam
csk    8
dd     9
kkr    8
kxp    7
mi     8
rcb    8
rr     8
sh     8
Name: matchId, dtype: int64

### Points per match (excluding bonus points and MOM points)

In [18]:
points = pd.DataFrame()
points['team'] = matches_played.index
points['played'] = matches_played.values
points['total_points'] = groupby_player_team.totalPoints.sum().values
points['ppm'] = points['total_points']/points['played']
points.sort_values(by='ppm', ascending=False)

  team  played  total_points         ppm
0  csk       8          4171  521.375000
4   mi       8          4095  511.875000
7   sh       8          3995  499.375000
5  rcb       8          3908  488.500000
1   dd       9          4200  466.666667
2  kkr       8          3710  463.750000
3  kxp       7          3211  458.714286
6   rr       8          3207  400.875000

"ppm" above is points per match

### Top 25 players by points scored

In [19]:
groupby_player_name.totalPoints.sum().sort_values(ascending=False).head(n=25)

playerName
Rishabh Pant (dd)        660
Shane Watson (csk)       649
Hardik Pandya (mi)       604
Ambati Rayudu (csk)      590
Sunil Narine (kkr)       589
Kane Williamson (sh)     554
Krunal Pandya (mi)       552
Virat Kohli (rcb)        548
Ms Dhoni (csk)           536
Shreyas Iyer (dd)        530
Andre Russell (kkr)      513
Trent Boult (dd)         504
Ab De Villiers (rcb)     496
Shakib Al Hasan (sh)     496
Dwayne Bravo (csk)       454
Lokesh Rahul (kxp)       447
Rashid Khan (sh)         446
Sanju Samson (rr)        438
Dinesh Karthik (kkr)     434
Suryakumar Yadav (mi)    432
Mayank Markande (mi)     419
Quinton De Kock (rcb)    417
Umesh Yadav (rcb)        414
Chris Gayle (kxp)        413
Siddarth Kaul (sh)       413
Name: totalPoints, dtype: int64

### Top 10 bowlers

In [20]:
groupby_player_name.bowlingPoints.sum().sort_values(ascending=False).head(n=10)

playerName
Trent Boult (dd)        434
Siddarth Kaul (sh)      411
Mayank Markande (mi)    388
Umesh Yadav (rcb)       382
Rashid Khan (sh)        373
Jasprit Bumrah (mi)     362
Hardik Pandya (mi)      360
Andrew Tye (kxp)        322
Krunal Pandya (mi)      318
Sunil Narine (kkr)      299
Name: bowlingPoints, dtype: int64

### Top 10 Batsmen

In [21]:
groupby_player_name.battingPoints.sum().sort_values(ascending=False).head(n=10)

playerName
Rishabh Pant (dd)       595
Ambati Rayudu (csk)     580
Virat Kohli (rcb)       508
Kane Williamson (sh)    484
Shreyas Iyer (dd)       480
Ms Dhoni (csk)          476
Ab De Villiers (rcb)    456
Shane Watson (csk)      449
Sanju Samson (rr)       428
Lokesh Rahul (kxp)      417
Name: battingPoints, dtype: int64

### Top 10 Fielders

In [22]:
groupby_player_name.fieldingPoints.sum().sort_values(ascending=False).head(n=10)

playerName
Quinton De Kock (rcb)    115
Ishan Kishan (mi)        100
Ravindra Jadeja (csk)    100
Jos Buttler (rr)          80
Karun Nair (kxp)          80
Hardik Pandya (mi)        70
Kane Williamson (sh)      70
Dinesh Karthik (kkr)      70
Trent Boult (dd)          70
Rohit Sharma (mi)         70
Name: fieldingPoints, dtype: int64

### Top 6 players in every team by points

In [23]:
df_agg = df.groupby(['playerTeam', 'playerName']).agg({"totalPoints": sum})
res = df_agg['totalPoints'].groupby(level=0, group_keys=False)
res.apply(lambda x: x.sort_values(ascending=False)[:6])

playerTeam  playerName
csk         Shane Watson (csk)           649
            Ambati Rayudu (csk)          590
            Ms Dhoni (csk)               536
            Dwayne Bravo (csk)           454
            Suresh Raina (csk)           354
            Shardul Thakur (csk)         272
dd          Rishabh Pant (dd)            660
            Shreyas Iyer (dd)            530
            Trent Boult (dd)             504
            Glenn Maxwell (dd)           393
            Rahul Tewatia (dd)           303
            Prithvi Shaw (dd)            222
kkr         Sunil Narine (kkr)           589
            Andre Russell (kkr)          513
            Dinesh Karthik (kkr)         434
            Nitish Rana (kkr)            412
            Chris Lynn (kkr)             347
            Robin Uthappa (kkr)          340
kxp         Lokesh Rahul (kxp)           447
            Chris Gayle (kxp)            413
            Andrew Tye (kxp)             379
            Karun Nair (kxp)             359
            Mujeeb Ur Rahman (kxp)       342
            Ravichandran Ashwin (kxp)    309
mi          Hardik Pandya (mi)           604
            Krunal Pandya (mi)           552
            Suryakumar Yadav (mi)        432
            Mayank Markande (mi)         419
            Jasprit Bumrah (mi)          392
            Rohit Sharma (mi)            344
rcb         Virat Kohli (rcb)            548
            Ab De Villiers (rcb)         496
            Quinton De Kock (rcb)        417
            Umesh Yadav (rcb)            414
            Mandeep Singh (rcb)          339
            Yuzvendra Chahal (rcb)       306
rr          Sanju Samson (rr)            438
            Krishnappa Gowtham (rr)      357
            Jos Buttler (rr)             354
            Ajinkya Rahane (rr)          333
            Ben Stokes (rr)              298
            Jofra Archer (rr)            245
sh          Kane Williamson (sh)         554
            Shakib Al Hasan (sh)         496
            Rashid Khan (sh)             446
            Siddarth Kaul (sh)           413
            Manish Pandey (sh)           282
            Shikhar Dhawan (sh)          274
Name: totalPoints, dtype: int64

### Total points scored by all players in a single match 

If you were able to pick 22 players per match, these are the scores you'll end up with.

In [24]:
groupby_match_desc.totalPoints.sum().sort_values(ascending=False)

matchDesc
kkr vs dd     1200
sh vs mi      1141
rcb vs csk    1090
csk vs rr     1073
mi vs sh      1060
mi vs rcb     1054
dd vs kxp     1048
csk vs kkr    1033
kkr vs rcb    1027
dd vs kkr     1016
rcb vs kxp    1015
sh vs kxp     1006
kxp vs csk     997
rcb vs mi      970
mi vs csk      968
kkr vs sh      966
rr vs mi       962
mi vs dd       948
sh vs csk      947
rcb vs rr      939
rr vs sh       914
csk vs dd      900
kxp vs dd      899
rcb vs kkr     898
rr vs kkr      893
rcb vs dd      884
csk vs mi      857
dd vs rr       852
kxp vs sh      809
sh vs rr       772
kkr vs kxp     738
rr vs dd       621
Name: totalPoints, dtype: int64

In [25]:
groupby_match_desc.totalPoints.sum().describe()

count      32.000000
mean      953.031250
std       118.273462
min       621.000000
25%       896.750000
50%       964.000000
75%      1028.500000
max      1200.000000
Name: totalPoints, dtype: float64

### What if you picked top 11 players per match (best case)

In [26]:
groupby_match_desc.totalPoints.apply(lambda x: x.sort_values(ascending=False)[:11].sum())

matchDesc
csk vs dd     804
csk vs kkr    831
csk vs mi     726
csk vs rr     913
dd vs kkr     911
dd vs kxp     805
dd vs rr      772
kkr vs dd     974
kkr vs kxp    699
kkr vs rcb    853
kkr vs sh     792
kxp vs csk    774
kxp vs dd     733
kxp vs sh     676
mi vs csk     835
mi vs dd      826
mi vs rcb     953
mi vs sh      789
rcb vs csk    965
rcb vs dd     763
rcb vs kkr    728
rcb vs kxp    843
rcb vs mi     772
rcb vs rr     820
rr vs dd      512
rr vs kkr     743
rr vs mi      845
rr vs sh      731
sh vs csk     843
sh vs kxp     848
sh vs mi      832
sh vs rr      634
Name: totalPoints, dtype: int64

In [27]:
groupby_match_desc.totalPoints.apply(lambda x: x.sort_values(ascending=False)[:11].sum()).describe()

count     32.000000
mean     798.281250
std       95.731895
min      512.000000
25%      740.500000
50%      804.500000
75%      843.500000
max      974.000000
Name: totalPoints, dtype: float64

You will score on an average around 800 points

### What if picked bottom 11 (worst case scenario)

In [28]:
groupby_match_desc.totalPoints.apply(lambda x: x[x>0].sort_values()[:11].sum())

matchDesc
csk vs dd     241
csk vs kkr    295
csk vs mi     198
csk vs rr     160
dd vs kkr     260
dd vs kxp     243
dd vs rr      200
kkr vs dd     280
kkr vs kxp    211
kkr vs rcb    174
kkr vs sh     174
kxp vs csk    329
kxp vs dd     258
kxp vs sh     207
mi vs csk     166
mi vs dd      412
mi vs rcb     283
mi vs sh      320
rcb vs csk    165
rcb vs dd     207
rcb vs kkr    342
rcb vs kxp    336
rcb vs mi     295
rcb vs rr     355
rr vs dd      245
rr vs kkr     200
rr vs mi      279
rr vs sh      183
sh vs csk     229
sh vs kxp     188
sh vs mi      309
sh vs rr      199
Name: totalPoints, dtype: int64

In [29]:
groupby_match_desc.totalPoints.apply(lambda x: x[x>0].sort_values()[:11].sum()).describe()

count     32.00000
mean     248.21875
std       65.52012
min      160.00000
25%      198.75000
50%      242.00000
75%      295.00000
max      412.00000
Name: totalPoints, dtype: float64

You would end up scoring atleast 250 points

### Points by each team in each match

In [30]:
df.groupby(['matchDesc', 'playerTeam']).totalPoints.sum()

matchDesc   playerTeam
csk vs dd   csk           493
            dd            407
csk vs kkr  csk           536
            kkr           497
csk vs mi   csk           375
            mi            482
csk vs rr   csk           696
            rr            377
dd vs kkr   dd            684
            kkr           332
dd vs kxp   dd            564
            kxp           484
dd vs rr    dd            434
            rr            418
kkr vs dd   dd            519
            kkr           681
kkr vs kxp  kkr           302
            kxp           436
kkr vs rcb  kkr           523
            rcb           504
kkr vs sh   kkr           382
            sh            584
kxp vs csk  csk           509
            kxp           488
kxp vs dd   dd            421
            kxp           478
kxp vs sh   kxp           439
            sh            370
mi vs csk   csk           411
            mi            557
                         ...
mi vs sh    mi            481
            sh            579
rcb vs csk  csk           613
            rcb           477
rcb vs dd   dd            369
            rcb           515
rcb vs kkr  kkr           450
            rcb           448
rcb vs kxp  kxp           428
            rcb           587
rcb vs mi   mi            439
            rcb           531
rcb vs rr   rcb           428
            rr            511
rr vs dd    dd            255
            rr            366
rr vs kkr   kkr           543
            rr            350
rr vs mi    mi            494
            rr            468
rr vs sh    rr            461
            sh            453
sh vs csk   csk           538
            sh            409
sh vs kxp   kxp           458
            sh            548
sh vs mi    mi            605
            sh            536
sh vs rr    rr            256
            sh            516
Name: totalPoints, Length: 64, dtype: int64