In [110]:
import pandas as pd

In [111]:
df = pd.read_csv('data/points_data_ipl_2018_april_30.csv')
df['totalPoints'] = df['battingPoints'] + df['bowlingPoints'] + df['fieldingPoints']

groupby_player_team = df.groupby('playerTeam')

In [112]:
matches = groupby_player_team.matchId.unique()
matches

playerTeam
csk    [7894, 7898, 7905, 7910, 7913, 7917, 7920, 7923]
dd     [7895, 7899, 7902, 7906, 7912, 7915, 7919, 7923]
kkr    [7896, 7898, 7903, 7906, 7908, 7911, 7919, 7922]
kxp          [7895, 7901, 7905, 7909, 7911, 7915, 7918]
mi           [7894, 7900, 7902, 7907, 7914, 7916, 7920]
rcb          [7896, 7901, 7904, 7907, 7912, 7917, 7922]
rr           [7897, 7899, 7904, 7908, 7910, 7914, 7921]
sh     [7897, 7900, 7903, 7909, 7913, 7916, 7918, 7921]
Name: matchId, dtype: object

In [114]:
points = pd.DataFrame()
points['team'] = matches.index
points['played'] = [matches[index].size for index in matches.index]
points['total_points'] = groupby_player_team.totalPoints.sum().values
points['ppm'] = points['total_points']/points['played']
points.sort_values(by='ppm', ascending=False)

  team  played  total_points         ppm
4   mi       7          3656  522.285714
0  csk       8          4171  521.375000
7   sh       8          3995  499.375000
5  rcb       7          3377  482.428571
1   dd       8          3766  470.750000
2  kkr       8          3710  463.750000
3  kxp       7          3211  458.714286
6   rr       7          2789  398.428571

"ppm" above is points per match